<!DOCTYPE html>
{% load static %}
<html lang="ka">
    <head>
        <title>{% block head_title %} 쇼핑몰 음료수,차,커피 다양하게 즐기세요 {% endblock %}</title>
        <link href="{% static 'shopping/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">


        <script src="https://kit.fontawesome.com/6d1439ca4d.js" crossorigin="anonymous"></script>

    </head>
<body>

{% include 'shopping/navbar.html' %}
<section>
    <div class="container">
        <div class="row justify-content-between">
        <div class="col-lg-6 text-dark">
            <h1 class="mt-5"> 음료모아입니다.</h1>
            <p>가장 많은 종류의 음료를 모아 놓았습니다. 차, 커피, 탄산음료, 이온 음료 필요하신 것을 골라 주세요.</p>
        </div>
            <div class="col-lg-5">
                <h2 class="text-dark"> 당신을 위한 오늘의 메뉴</h2>
                {% for post in recent_posts %}
                    <div class="card mt-2">
                        <div class="card-body">

                        <h6><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
                            {{ post.title }}  </a></h6>
                            {{post.price_text}}
                            <span class="badge bg-light text-dark float-right">
                                {% if post.head_image %}
                                 <img class="rounded-circle mr-1" width="200px"
                                src="{{post.head_image.url}}" alt="{{post.price_text}}}">
                                {% else %}
                                    <img class="rounded-circle mr-1" src="https://picsum.photos/seed/{{ post.id }}/50/50" alt="">
                                {% endif %}


                            </span>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
</section>



<div class="fixed-bottom">
     {% include 'shopping/footer.html' %}
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>